$primary                  : #7aa01e !default;
$secondary                : #020b12 !default;
$primary-background-text  : #e0ffff; //text into primary background
$secondary-background-text: #000036; //text into primary background
$white                    : #fff !default;
$light-gray               : #aaa !default;
$info                     : #2dacd1 !default;
$success                  : #90b900 !default;
$warning                  : #dfb81c !default;
$danger                   : #e85656 !default;
$primary-light            : tint($primary, 30%);
$secondary-light          : tint($secondary, 30%);
$info-light               : tint($info, 30%);
$success-light            : tint($success, 30%);
$warning-light            : tint($warning, 30%);
$danger-light             : tint($danger, 30%);
$primary-light-light      : tint($primary, 80%);
$secondary-light-light    : tint($secondary, 80%);
$info-light-light         : tint($info, 80%);
$success-light-light      : tint($success, 80%);
$warning-light-light      : tint($warning, 80%);
$danger-light-light       : tint($danger, 80%);
$light-gray-light         : tint($light-gray, 80%);