$primary              : #202929 !default;
$secondary            : #e87d0d !default;
$primary-light        : tint($primary, 30%);
$secondary-light      : tint($secondary, 30%);
$primary-light-light  : tint($primary, 80%);
$secondary-light-light: tint($secondary, 80%);
$info                 : #2dacd1 !default;
$success              : #90b900 !default;
$warning              : #dfb81c !default;
$danger               : #e85656 !default;
$info-light           : tint($info, 30%);
$success-light        : tint($success, 30%);
$warning-light        : tint($warning, 30%);
$danger-light         : tint($danger, 30%);
$info-light-light     : tint($info, 80%);
$success-light-light  : tint($success, 80%);
$warning-light-light  : tint($warning, 80%);
$danger-light-light   : tint($danger, 80%);
$primary-dark         : shade($primary, 30%);
$primary-dark-dark    : shade($primary, 80%);
$secondary-dark       : shade($secondary, 30%);
$secondary-dark-dark  : shade($secondary, 80%);
$info-dark            : shade($info, 15%);
$success-dark         : shade($success, 15%);
$warning-dark         : shade($warning, 15%);
$danger-dark          : shade($danger, 15%);